<h2 class="font-1-2">Hello, <%= @user.email %></h2>
<div class="d-block">
  <% if @user.goals.present? %>
    <h2 class="font-1-2">You have set yourself <%= pluralize(@user.goals.count, 'Goal') %>!</h2>

    <div class="link mt-5 d-flex">
      <%= link_to '💪Lets tackle them!', root_path, class: 'form-submit d-flex justify-content-around', data: { turbolinks: false } %>
    </div>
  <% else %>
    <h2 class="font-1-2">You havent set any goals yet! 😱</h2>

    <div class="link mt-5 d-flex">
      <%= link_to '👉Set your first Goal here!', new_goal_path, class: 'form-submit d-flex justify-content-around', data: { turbolinks: false } %>
    </div>
  <% end %>
</div>

<% if @user.goals.present? %>
  <div class="mt-5">
    Your Goals at a glance:
    <% @user.goals_by_category.each do |category| %>
      <% if category[:goals].present? %>
        <div class="category text-center mt-2" style="background-color: <%= category[:tag].color %>; color: white;">
          <%= category[:tag].name %> *<%= category[:goals].count %>
        </div>
      <% end %>
    <% end %>
    <div class="mt-5">
      <% if @user.goals_by_category.reject { |category| category[:goals].present? }.present? %>
        Looks like you dont have a <%= @user.goals_by_category.reject { |category| category[:goals].present? }.sample[:tag].name %>-Goal yet! Why not <%= link_to 'create', new_goal_path, class: 'link-underline', data: {turbolinks: false} %> one?
      <% end %>
    </div>
  </div>
<% end %>

<style>
  .link-underline {
    font-weight: bolder;
  }
  .category {
    border-radius: 4px;
  }
</style>

