<div class="card-stack">
  <div class="cards">
    <% @goals.each_with_index do |goal, index| %>
      <div class="goal-card swipe not-actioned shadow" data-position="<%= index + 1 %>" data-goal-id="<%= goal.id %>">
        <div class="card-top" style='background-color: <%= goal.tags.first.color %>'>

        </div>
        <div class="card-image">
          <img src="<%= goal.tags.first.url %>" alt="">
        </div>
        <div class="card-bottom">
          <div class="header">
            <%= goal.name %>
          </div>
          <div class="body">
            <%= goal.description %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="goal-card deck-end" data-position="<%= @goals.count + 1 %>">
      <% if Goal.not_completed(current_user).any? %>
        Thats all for today!
        <img src="https://acegif.com/wp-content/gif/wowo-applause-10.gif" alt="">

        <div class="deck-end-buttons">

          <div class="incomplete">
            <i class="fas fa-folder"></i>
          </div>
        </div>
      <% else %>
        <div class="new-prompt">
          <h2 class="font-1-2" style='text-align: left'>¡Hola! 🕵️</h2>
          <h2 class="font-1-2" style='text-align: left'>I see you are new around here!?</h2>
        </div>
        <%= link_to 'Add your first Goal', new_goal_path, class: 'form-submit' %>
      <% end %>
    </div>
    <% @actioned_goals.each_with_index do |goal, index| %>
      <div class="goal-card swipe actioned shadow" data-position="<%= index + @goals.count + 2 %>" data-goal-id="<%= goal.id %>">
        <div class="card-top" style='background-color: <%= goal.tags.first.color %>'>

        </div>
        <div class="card-image">
          <img src="<%= goal.tags.first.url %>" alt="">
        </div>
        <div class="card-bottom">
          <div class="header">
            <%= goal.name %>
          </div>
          <div class="body">
            <%= goal.description.truncate(50) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
